.customButton_active {
    color: rgb(113 113 122)!important;
    border-bottom: 4px solid rgb(251 191 36);
}

.customButton {
    color: rgb(161 161 170);
}

.customButton_notActive {
    border-bottom: 4px solid transparent;
}

.customButton_notActive:hover {
    color: rgb(113 113 122);
}

.customButton_notActive:active {
    transform: scale(110%);
}